

<nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-light bg-secondary">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbar4">
            <ul class="navbar-nav ml-auto mt-3 mt-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fab fa-twitter"></i>
                        <span class="d-lg-none ml-3">Twitter</span>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fab fa-facebook"></i>
                        <span class="d-lg-none ml-3">Facebook</span>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fab fa-instagram"></i>
                        <span class="d-lg-none ml-3">Instagram</span>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fab fa-linkedin"></i>
                        <span class="d-lg-none ml-3">Linkedin</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>

