<link rel="stylesheet" href="/css/header.css">
{{!-- <nav class="navbar navbar-expand-sm bg-light d-flex justify-content-center">
  <ul class="navbar-nav d-flex align-items-center border border-primary">
    <li class="nav-item">
      <a class="nav-link" href="">Hi! User,</a>
    </li>
    <li class="nav-item">
      <a class="nav-link border rounded-circle" href="/"><img src="/images/hi_logo.png" alt="logo" height="80px"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register">Register</a>
    </li>
  </ul>
</nav> --}}

<nav>
  <a href="/"><img height="50px" src="images/hi_logo.png"></a>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
  </ul>
</nav>
