<nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-light fixed-top">
	<div class="container"> 
		<a class="navbar-brand d-flex align-items-center" href="/">
			<img src="hi_logo.png" alt="hi!" height="40px">
		</a>
	<div class="collapse navbar-collapse" id="navbar4">
		<ul class="navbar-nav mr-auto pl-lg-4">
			<!-- hi! user -->
			<li class="nav-item px-lg-2"> <a class="nav-link" href="#"><span class="d-inline-block d-lg-none icon-width"><i class="fas fa-spa"></i></span>Hi! User,</a> </li>
			
			<!-- Services -->
			<li class="nav-item px-lg-2 dropdown d-menu">
				<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="d-inline-block d-lg-none icon-width"><i class="far fa-caret-square-down"></i></span>Services
					<svg  id="arrow" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<polyline points="6 9 12 15 18 9"></polyline>
					</svg>
				</a>
				<div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown01">
					<a class="dropdown-item" href="/notepad">Notepad</a>
					<a class="dropdown-item" href="/events">Events</a>
					<a class="dropdown-item" href="/tasks">Tasks</a>
					<a class="dropdown-item" href="/gallery">Gallery</a>
					<a class="dropdown-item" href="/games">Games</a>
					<a class="dropdown-item" href="/record">Record</a>
					<a class="dropdown-item" href="/books">Books</a>
				</div>
			</li>
			<!-- Sign In/Up -->
			<li class="nav-item px-lg-2 dropdown d-menu">
				<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="d-inline-block d-lg-none icon-width"><i class="far fa-caret-square-down"></i></span>Start Here!
					<svg  id="arrow" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<polyline points="6 9 12 15 18 9"></polyline>
					</svg>
				</a>
				<div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown01">
					<a class="dropdown-item" href="#">Register</a>
					<a class="dropdown-item" href="#">Login</a>
				</div>
			</li>


	</div>
</nav>