<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="flex-perinput1 m-4" href="/">
    <img src="hi_logo.png" width="40px" height="" />
  </a>
  <div><li class="font-italic p-2 bd-highlight flex-perinput2"><em><h3>Hi! User,</h3></em></li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Dropdown
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </li>
  </div>
</nav>