
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
<link rel="stylesheet" type="text/css" href="css/ds-style.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Swiper -->
<div class="swiper-container mySwiper text-center">
  <div class="swiper-wrapper">

    <div class="swiper-slide">Notepad
      <a href="/notepad"><img height="300"src="notepad.jpg"/></a>
    </div>
    
    <div class="swiper-slide">Events/Occassions
      <a href="/events"><img width="300" src="occassions.jpg"/></a>
    </div>

    <div class="swiper-slide">Gallery
      <a href="/gallery"><img width="300" src="gallery.jpg"/></a>
    </div>
    
    <div class="swiper-slide">Game
      <a href="/game"><img width="300" src="game.jpg"/></a>
    </div>
    
    <div class="swiper-slide">Record
      <a href="/record"><img src="record.jpg"/></a>
    </div>
    
    <div class="swiper-slide">Books
      <a href="/books"><img src="books.jpg"/></a>
    </div>

  </div>
  <div class="swiper-pagination"></div>
</div>

<!-- Swiper JS 2-->
<script type="text/javascript" src="js/ds-script.js"></script>
