
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
<link rel="stylesheet" type="text/css" href="ds-style.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!--header -->



<!-- Swiper -->
<div class="swiper-container mySwiper text-center">
  <div class="swiper-wrapper">
    <div class="swiper-slide">Notepad
      <img height="300"src="notepad.jpg" />
    </div>
    <div class="swiper-slide">Events/Occassions
      <img width="300" src="occassions.jpg" />
    </div>
    <div class="swiper-slide">Tasks
      <img width="300" src="tasks.jpg" />
    </div>

    <div class="swiper-slide">Gallery
      <img width="300" src="gallery.jpg" />
    </div>
    <div class="swiper-slide">Game
      <img width="300" src="game.jpg" />
    </div>
    <div class="swiper-slide">Record
      <img src="record.jpg" />
    </div>
    <div class="swiper-slide">Books
      <img src="books.jpg" />
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

<!-- Swiper JS 2-->
<script type="text/javascript" src="ds-script.js"></script>
