
<div class="container">
    <h1 class="text-center display-5">SignUp</h1>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <form action="/signUp" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <label for="emailId" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="emailId">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <div>
                <label for="security_question" class="form-label">Security Quesiton</label>
                <select>
                    <option value="1">Fav Car</option>
                    <option value="2">Fav Food</option>
                    <option value="3">Fav Book</option>
                </select>
                <input type="text" name="text" class="form-control mb-3" id="security_question">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Sign Up</button>
        </form>
        <a href="/signIn">Already have an account? Click Here to Login</a>
    </div>
    
</div>
