
<link rel="stylesheet" href="/css/tictactoe.css">

<title>Tic-Tac-Toe</title>

<div class="board" id="board">
  <div class="cell" data-cell></div>
  <div class="cell" data-cell></div>
  <div class="cell" data-cell></div>
  <div class="cell" data-cell></div>
  <div class="cell" data-cell></div>
  <div class="cell" data-cell></div>
  <div class="cell" data-cell></div>
  <div class="cell" data-cell></div>
  <div class="cell" data-cell></div>
</div>

<div class="winning-message" id="winningMessage">
  <div data-winning-message-text></div>
  <button id="restartButton">Restart</button>
</div>

<script src="/css/tictactoe.js"></script>
